/* ///////////////////////////////////////////////////////////////////// 
//  Global 
/////////////////////////////////////////////////////////////////////*/

* {outline: none !important;}

/* highlight selection color styles*/
::selection {
	background-color: #c86679a1;
	color: #fff;
}

html {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	overflow-y: scroll;
}

/* not sure if this is used or does anything */
body {
	color: whitesmoke;	
	background: linear-gradient(90deg, #272727, rgb(41, 4, 41));
	background-image: url(../images/body_bg.jpg);
	background-size: contain;
}

p {margin: 0 0 20px 0;	}

img {max-width: 100%;}

/* link styles */
a{	
	color: #c9a072;
	-o-transition: all .4s;
	-ms-transition: all .4s;
	-moz-transition: all .4s;
	-webkit-transition: all .4s;
	transition: all .4s;
	text-decoration: none;
	outline: none;
}

/* link styles on hover */
a:hover {
	color: #17aaaa;	
}


/* Headings styles */
h1, h2, h3, h4, h5, h6{		
	margin: 0 0 15px 0;	
	text-align: center;
	color: whitesmoke;
	text-transform: uppercase;
	font-family: 'Alegreya Sans';
}

/* paragraph style */
p {
	color: white;
	font-size: 18px;
}

.row {
	margin-top: 20px;
	margin-bottom: 10px;
}

.row-bottom {
	margin-top: 20px;
	margin-bottom: 100px;
}

.btn {
	border-radius: 0;
	text-align: center;
}

/* Not sure if this does anything */
.btn-o {
    border: 1px solid #5C6B70;
    color: #5C6B70;
}

/* Not sure if this does anything */
.btn-o:hover {
    background: #5C6B70;
    color: white;
}

/* button text color when hovering over image */
.btn.btn-o-white {
	background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
	width: auto;
    font-size: 16px;
    color: white;
    cursor: pointer;
    margin: 20px;
    border: 2px solid white;
    background-size: 300% 100%;

	border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

/* button text on hover */
.btn.btn-o-white:hover {
	background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

	background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}

.btn.btn-contact {
    font-size: 16px;
    color: white;
    cursor: pointer;
    border: 1px solid white;
	color: white;
	background: transparent;

	border-radius: 5px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn.btn-contact:hover {
    color: #09071d;
	font-weight: bold;
	border: none;
	background-image: linear-gradient(to right, #009245, #FCEE21);
    box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}

/*////////////////////////////////////////////////////////////////////////
//  Header
///////////////////////////////////////////////////////////////////////*/

#header {	
	position: relative;
	padding: 0 !important;
}

#header.header-wrapper {
	background: url(../images/heading_bg_v2.jpg) no-repeat center center;
	background-size: cover;
	display: table;
	height: 100vh;
	width: 100%;
	position: relative;
	z-index: 1;
	overflow-x: hidden;
	margin-bottom: -2px;
	}

@media screen and (max-width: 767px) and (orientation: landscape) {
    #header.header-wrapper {
		height: auto;
		min-height: 100vh;
		padding: 0px;
	} 
}

#header.header-wrapper .header-wrapper-inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle; 
}

#header .top {
	position:fixed;
	top:0;
	width: 100%;
	padding: 30px;
	height: auto;
	z-index: 500;
	-o-transition: all .5s;
	-ms-transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;	
	transition: all .5s;		
}

/* scrolling header color and styles */
#header .top.solid {
    background: #09071d;
    padding-top: 15px;
    padding-bottom: 15px;
}

#header .top h1{
	margin-bottom: 0;
}
#header .top.solid .toggleDrawer i {
    padding-top: 8px;
}

/* Logo Text Styles */
#header .logo, #header .toggleDrawer{
	font-family: "League Spartan";
	color: white;
	text-decoration: none;
}

/* Slogan Text Styles */
#header .slogan{
	font-size: 4em;
	margin-bottom: 20px;
	line-height: .5em;
	font-weight: bolder;
	font-family: "League Spartan";
	text-transform: capitalize;
	color: white;	
}

/* Secondary Slogan Text Styles */
#header .secondary-slogan{
	font-size: 2.5em;
	color: white;
	line-height: 1.0em;
	font-family: 'Alegreya SC';
}

/* Controls the fade in time of an element with the fade-in class */
.fade-in {
	animation: fadeIn ease 1.2s;
	-webkit-animation: fadeIn ease 1.2s;
	-moz-animation: fadeIn ease 1.2s;
	-o-animation: fadeIn ease 1.2s;
	-ms-animation: fadeIn ease 1.2s;
  }
  @keyframes fadeIn {
	0% {
	  opacity:0;
	}
	100% {
	  opacity:1;
	}
  }
  
  @-moz-keyframes fadeIn {
	0% {
	  opacity:0;
	}
	100% {
	  opacity:1;
	}
  }
  
  @-webkit-keyframes fadeIn {
	0% {
	  opacity:0;
	}
	100% {
	  opacity:1;
	}
  }
  
  @-o-keyframes fadeIn {
	0% {
	  opacity:0;
	}
	100% {
	  opacity:1;
	}
  }
  
  @-ms-keyframes fadeIn {
	0% {
	  opacity:0;
	}
	100% {
	  opacity:1;
  }
}

#header .bottom {
    bottom: 10%;
	display: block;
	position: absolute;
	width: 100%;
	z-index: 3;
}
#header .bottom a img {
    width: 50px;
}
#header .bottom a {
    opacity: 0.7;
}
#header .bottom a:hover {
    opacity: 1;
}


/*////////////////////////////////////////////////////////////////////////
//  Drawer with menu
///////////////////////////////////////////////////////////////////////*/

#drawer-right {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    margin-right: -300px;
    background: #272727;
    width: 300px;
    padding: 20px;
    z-index: 999;
}

/* hamburger menu Heading Text Styles */
#drawer-right h1, #drawer-right h2{color: white;}

#drawer-right .nav-pills>li>a {
	font-size: 18px;
	border-radius: 0;
}

#drawer-right .social{margin-top: 30px}
#drawer-right .social ul {
    list-style: none;
    padding-left: 20px;
}
#drawer-right .social ul > li {
    display: inline-block;
}
/* hamburger menu social media icons styles on hover */
#drawer-right .social ul > li > a:hover{
	color: #17aaaa;
}



/*////////////////////////////////////////////////////////////////////////
//  Parallax styles
///////////////////////////////////////////////////////////////////////*/

.content-block{
	background:transparent no-repeat center center fixed;
	border: none;
	-webkit-background-size:100%;
	-moz-background-size:100%;
	-o-background-size:100%;
	background-size:100%;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	overflow:hidden;
	padding-top: 80px;
	padding-bottom: 20px;
}

.content-block-vector{
	background: url("../images/chevron_bg.svg") no-repeat;
	border: none;
	z-index: 1;
	background-position: top;
	background-size: contain;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
}

.content-block-vector-up{
	background: url("../images/chevron_up_bg.svg") no-repeat;
	border: none;
	background-position: top;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.half-width-container {
	width: 50%;
}

#about_me_id {
	z-index: 3;
}

.about_me {
    width: 50%;
	height: 430px;
	position: relative;
    display: table;
    vertical-align: middle;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30%;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
	text-shadow: 0px 2px 4px purple;
}

.circle {
	border-radius: 300px;
	filter: drop-shadow(0px 0px 20px purple);
}

.parallax{
	padding: 80px 0;
}

.block-body {
	margin-top: 60px;
}

/* education section background styles */
#education {
	background-image: url(../images/education_bg.jpg);
}

/* parallax section background styles */
#parallax {
	background-image: url(../images/education_bg.jpg);
	background-color: #312f45;
}
/* contact section background styles */
#contact {
	background-image: url(../images/contact_bg.jpg);
	/* overlay color */
	background-color: #312f45;
}
#parallax h1{
	margin-bottom: 60px;
}




/*////////////////////////////////////////////////////////////////////////
//  Portfolio
///////////////////////////////////////////////////////////////////////*/

/* portfolio background styles */
#portfolio
{
	color: white;
}

.col-sm-4 {
	margin-bottom: 30px;
}

.recent-work {
    width: 100%;
    padding-bottom: 30%;
    display: table;
    text-align: center;
    vertical-align: middle;
    padding-top: 30%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin-bottom: 0px;
}

.recent-work span{
	margin-top: 20px;
	opacity: 0;
	position: relative;
	z-index: 1;
}

/* Portfolio images on hover styles settings */
.recent-work:before {
    background: #09071da5;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    opacity: 0;
    -o-transition: all .2s;
	-ms-transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	transition: all .2s;
}
.recent-work:hover {
    background-size: 150%;
    background-position: center;
}
.recent-work:hover:before, .recent-work:hover span {
    opacity: 1;
}





/*////////////////////////////////////////////////////////////////////////
// Education
///////////////////////////////////////////////////////////////////////*/

/* Education text & font styles */
#services h1, #services h2 {
	color: whitesmoke;
	font-family: 'Alegreya Sans';
}
#services p {
	color: whitesmoke;
	font-family: 'Alegreya Sans';
	font-size: 20px;
	font-weight: bold;
}
.service i {
    font-size: 60px;
}
.service {
    padding: 0 25px;
}

/*////////////////////////////////////////////////////////////////////////
//  Contact
///////////////////////////////////////////////////////////////////////*/


#contact {
	color: white;
}
#contact h1 {
	color: white;
	font-family: 'Alegreya Sans';
}

.form-control-white {
	font-size: 16px;
	background: #272727a4;
    color: white;
}

.form-control-white::-webkit-input-placeholder { /* WebKit browsers */
	font-size: 16px;
	color:    white;
}
.form-control-white:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	font-size: 16px;
	color:    white;
    opacity:  1;
}
.form-control-white::-moz-placeholder { /* Mozilla Firefox 19+ */
	font-size: 16px;
	color:    white;
    opacity:  1;
}
.form-control-white:-ms-input-placeholder { /* Internet Explorer 10+ */
	font-size: 16px;
	color:    white;
}


/*////////////////////////////////////////////////////////////////////////
//  Footer
///////////////////////////////////////////////////////////////////////*/


#footer {
	background: #09071d;
	/* footer text color */
	color: whitesmoke;
	}



/*////////////////////////////////////////////////////////////////////////
//  Responsive styles
///////////////////////////////////////////////////////////////////////*/


@media (max-width: 767px){
	#header .slogan {
		font-size: 2.8em; 
	} 

	#header .secondary-slogan {
		font-size: 1.2em;
	}

	#header .bottom {
		bottom: 13%;
	}

	.blog-post {
		margin-bottom: 40px;
	}

	.recent-work {
		background-position: center;
	}

	.recent-work:before {
		opacity: 1;
	}

	.recent-work span {
		opacity: 1;
	}
}

@media (max-width: 480px) {
	#drawer-right {
		padding: 10px 20px;
	}

	#drawer-right .nav-pills>li>a {
		font-size: 17px;
	}

	.nav-stacked>li+li {
		margin-top: 0;
	}

	.nav>li>a {
		padding: 8px 15px;
	}

	#drawer-right .social {
		margin-top: 5px;
	}

	#header {
		background-size: cover;
	}
}
